.banner-wrapper {
    display: flex;
    position: relative;
    height: 440px;
    background-color: var(--background-dark);
    background-image: url("../images/home-banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color-white);
    align-items: center;
    font-family: "Montserrat", "Segoe UI", sans-serif;
    overflow: hidden;
}

.banner-copy-wrapper {
    width: 100%;
    z-index: 100;
}

.banner-copy {
    z-index: 0;
}

.banner-header {
    margin-bottom: 0.5rem;
}

.banner-subheader {
    font-weight: 600;
}

.banner-subheader--highlight {
    color: var(--color-primary);
    margin-bottom: 0.5rem;
}

.banner-video {
    opacity: 0.3;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
    .banner-wrapper {
        height: 640px;
        background-image: none;
    }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
